/*
    This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
    If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

.Tutorial .Content {
    margin: 50px 50px 0;
}

.Tutorial .Buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 50px 0 0;
}

.Tutorial .LastButton a button {
    width: max-content !important;
    padding: 0 10px !important;
}
